<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All Flights</title>
    <link href="/assets/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div th:replace="~{components/navbar :: navbar}"></div>
<div class="container">
    <h1>All Flights</h1>
    <div>
        <table class="table table-striped table-bordered">
            <thead>
            <tr>
                <th class="col">Starting Location</th>
                <th class="col">Ending Location</th>
                <th class="col">Departure Date</th>
                <th class="col">Return Date</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="flight : ${flights}">
                <td th:text="${flight.getStartingLocation().getName()}"></td>
                <td th:text="${flight.getEndingLocation().getName()}"></td>
                <!--                EEE, MMM d, yyyy == Wed, Jun 5, 2023-->
                <td th:text="${#dates.format(flight.getDepartureDate(), 'EEE, MMM d, yyyy')}"></td>
                <td th:text="${#dates.format(flight.getReturnDate(), 'EEE, MMM d, yyyy')}"></td>

            </tr>
            </tbody>
        </table>
        <a href="/addFlight" class="btn btn-primary">Add Flight</a>
    </div>
</div>
<script src="/assets/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>